<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="user new">
  <h2>Create User</h2>

  <%= form_for(:user, :html => {:multipart => true}, :url => {:action => 'create'}) do |f| %>

    <table summary="User form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Login ID</th>
        <td><%= f.text_field(:login) %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field(:email) %></td>
      </tr> 
       <tr>
        <th>Image</th>
        <td><%= f.file_field (:image) %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= f.password_field(:password) %></td>
      </tr>
      <tr>
        <th>Role</th>
        <td>
        	<%= f.select(:role, options_for_select([['student', 0], ['teacher', 1], ['admin', 2]])) %>
        </td>
      </tr>
      <tr>
        <th>School ID</th>
        <td><%= f.number_field(:school_id) %></td>
      </tr>      
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create User") %>
    </div>

  <% end %>

</div>
