<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %> 

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="users show">
  <h2><%= @user.name %></h2>
  <tr>
      <!-- <th>Image</th> -->
      <!-- <div class="image_placeholder"> -->
        <td><%= image_tag @user.image_url(:thumb).to_s %></td>
      <!-- </div> -->
    </tr>
  <table summary="User detail view">
    <tr>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Login ID</th>
      <td><%= @user.login %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Active</th>
      <td><%= @user.status ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Role</th>
      <td><%= @user.role %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @user.updated_at %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th>School Id</th>
      <td><%= @user.school_id %></td>
    </tr>
  </table>

</div>
