<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="project new">
  <h2>Create Project</h2>

  <%= form_for(:project, :html => {:multipart => true}, :url => {:action => 'create'}) do |f| %>

    <table summary="Project form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr> 

      <tr>
        <th>Code</th>
        <td><%= f.file_field(:code) %></td>
      </tr> 
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create Project") %>
    </div>

  <% end %>

</div>
